{% extends 'base.html.twig' %}

{% block title %}Liste des membres{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="container">
        <h1>Liste des membres</h1>
        <table class="table table-bordered mt-3">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Prenom</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for membre in membres %}
                <tr>
                    <td>{{ membre.id }}</td>
                    <td>{{ membre.nom }}</td>
                    <td>{{ membre.prenom }}</td>
                    <td>
                        <a href="{{ path('membre_show', {'membre_id': membre.id}) }}" class="btn-primary btn-sm-blue">Voir</a>
                        <a href="{{ path('membre_edit', {'id': membre.id}) }}" class="btn-primary btn-sm-yellow">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">Aucun membre trouvé</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <style>
        /* Styles CSS personnalisés */
        .container {
            text-align: center;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
            font-weight: bold;
        }

        .btn-sm-blue {
            font-size: 15px;
            padding: 5px 10px;
            border-radius: 3px;
            background-color: #007bff;
            color: #fff;
            border: 5px solid #007bff;
            cursor: pointer;
            text-decoration: none;
        }

        .btn-sm-blue:hover {
            background-color: #0056b3;
            border-color: #0056b3;
            color: #fff;
            text-decoration: none;
        }

        .btn-sm-yellow {
            font-size: 15px;
            padding: 5px 10px;
            border-radius: 3px;
            background-color: #ffc107;
            color: #000;
            border: 5px solid #ffc107;
            cursor: pointer;
            text-decoration: none;
        }

        .btn-sm-yellow:hover {
            background-color: #e0a800;
            border-color: #e0a800;
            color: #000;
            text-decoration: none;
        }

        .btn-sm1 {
            font-size: 15px;
            padding: 5px 10px;
            border-radius: 3px;
            background-color: #28a745;
            color: #fff;
            border: 5px solid #28a745;
            cursor: pointer;
            text-decoration: none;
        }

        .btn-sm1:hover {
            background-color: #218838;
            border-color: #218838;
            color: #fff;
            text-decoration:none;
        }

    </style>
{% endblock %}
