{% extends 'base.html.twig' %}

{% block title %}Membre{% endblock %}

{% block body %}
    {{ parent() }}
    <style>
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }

        h1 {
            font-size: 24px;
            color: #333;
            margin-bottom: 20px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            margin-bottom: 10px;
        }

        a {
            text-decoration: none;
            color: #007bff;
        }
    </style>

    <h1>{{ membre.prenom }}  {{ membre.nom }}</h1>
    <h2>Liste des Albums</h2>

    <table class="table">
        <td>
        {% for album in membre.albums %}
            <li><a href="{{ path('album_show', {'album_id' : album.id, 'membre_id' : membre.id})}}">{{ album.nom }}</a></li>
        {% endfor %}
        </td>
    </table>

    <a href="{{ path('membre_index') }}" class="btn-primary btn-sm">Retour vers la liste des membres</a>

    <style>
        .btn-sm {
            font-size: 15px;
            padding: 5px 10px;
            border-radius: 3px;
            background-color: #999;
            color: #000;
            border: 5px solid #999;
            cursor: pointer;
            text-decoration: none;
        }

        .btn-sm:hover {
            background-color: #777;
            border-color: #777;
            color: #000;
            text-decoration: none;
        }

        .btn-sm-yellow {
            font-size: 15px;
            padding: 5px 10px;
            border-radius: 3px;
            background-color: #ffc107;
            color: #000;
            border: 5px solid #ffc107;
            cursor: pointer;
            text-decoration: none;
        }

        .btn-sm-yellow:hover {
            background-color: #e0a800;
            border-color: #e0a800;
            color: #000;
            text-decoration: none;
        }
    </style>

    {{ include('membre/_delete_form.html.twig') }}
{% endblock %}
