{% extends 'base.html.twig' %}

{% block title %}Membre{% endblock %}

{% block body %}
    {{ parent() }}
    <style>
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }

        h1 {
            font-size: 24px;
            color: #333;
            margin-bottom: 20px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            margin-bottom: 10px;
        }

        a {
            text-decoration: none;
            color: #007bff;
        }
    </style>

    <h1>{{ membre.nom }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ membre.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ membre.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ membre.prenom }}</td>
            </tr>
            <tr>
                <th>Albums</th>
                <td>
                {% for album in membre.albums %}
                <li><a href="{{ path('album', {'id' : album.id}) }}">{{ album.nom }}</a></li>
                {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('membre_index') }}">Retour vers la liste des membres</a>

    <a href="{{ path('membre_edit', {'id': membre.id}) }}">Modifier</a>

    {{ include('membre/_delete_form.html.twig') }}
{% endblock %}
