{% extends 'base.html.twig' %}

{% block title %}Détail du Panini{{ panini.nom }}{% endblock %}

{% block body %}
    {{ parent() }}
    <style>
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            font: 18px/1.5 sans-serif;
        }

        h1 {
            font-size: 24px;
            color: #333;
            margin-bottom: 20px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 10px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        a {
            text-decoration: none;
            color: #007bff;
        }
    </style>

    <div class="container">
        <h1>{{ panini.nom }}</h1>
        <table>
            <tr>
                <th>Nom</th>
                <td>{{ panini.nom }}</td>
            </tr>
            <tr>
                <th>Album</th>
                <td><a href="{{ path('album_show', {'album_id': panini.album.id, 'membre_id' : panini.album.membre.id} ) }}">{{ panini.album.nom }}</a></td>
            </tr>
            <tr>
                <th>Equipes</th>
                <td>
                    <ul>
                        {% for equipe in panini.equipes %}
                            <li><a href="{{ path('equipe_show', {'id': equipe.id}) }}">{{ equipe.nom }}</a></li>
                        {% else %}
                            <li>Aucune équipe</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </table>

        <br>
        <a href="{{ path('album_show',{'album_id' : panini.album.id, 'membre_id' : panini.album.membre.id}) }}" class="btn-primary btn-sm">
            {{ panini.album.nom}}</a>
        <a href="{{ path('membre_show',{'membre_id' : panini.album.membre.id}) }}" class="btn-primary btn-sm">Mes albums</a>
    </div>

    <style>
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }

        h1 {
            font-size: 24px;
            color: #333;
            margin-bottom: 20px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            margin-bottom: 10px;
        }

        a {
            text-decoration: none;
            color: #007bff;
        }

        .btn-sm {
            font-size: 15px;
            padding: 5px 10px;
            border-radius: 3px;
            background-color: #999;
            color: #000;
            border: 5px solid #999;
            cursor: pointer;
            text-decoration: none;
        }

        .btn-sm:hover {
            background-color: #777;
            border-color: #777;
            color: #000;
            text-decoration: none;
        }
    </style>

{% endblock %}
