{% extends 'base.html.twig' %}

{% block title %}Mes Albums{% endblock %}

{% block body %}
    {{ parent() }}
<div class="container">
    <h1 class="mt-5">Mes Albums</h1>
    <table class="table table-bordered mt-3">
        <thead>
        <tr>
            <th scope="col">Nom</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for album in albums %}
            <tr>
                <td>{{ album.nom }}</td>
                <td>
                    <a href="{{ path('album_show', {'album_id': album.id, 'membre_id' : album.membre.id}) }}" class="btn btn-primary btn-sm">Voir</a>
                    <a href="{{ path('album_edit', {'id': album.id}) }}" class="btn btn-warning btn-sm">Modifier</a>
                    <a href="{{ path('album_delete', {'id': album.id}) }}" class="btn btn-danger btn-sm">Supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2" class="text-center">Aucun album trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<style>
    /* Styles CSS personnalisés */
    .container {
        text-align: center;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
        font-weight: bold;
    }

    .btn-sm {
        font-size: 12px;
    }

    .text-center {
        text-align: center;
    }
</style>

{% endblock %}