{% extends 'base.html.twig' %}

{% block title %}Mon Album{% endblock %}

{% block body %}
    {{ parent()}}
    <div class="container">
        <h1>Mon Album</h1>
        <table>
            <tr>
                <th>ID</th>
                <td>{{ album.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ album.nom }}</td>
            </tr>
            <tr>
                <th>Membre</th>
                <td>{{ album.membre.nom }}</td>
            </tr>
            <tr>
                <th>Cartes</th>
                <td>
                    <ul>
                        {% for carte in album.paninis %}
                            <li><a href="{{ path('panini_show', { 'id': carte.id }) }}">{{ carte.nom }}</a></li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </table>

        <br>
        <a href="{{ path('membre_show', {'membre_id' : membre.id}) }}" class="btn-primary btn-sm">Retour à la liste</a>


        <a href="{{ path('album_delete', {'album_id' : album.id, 'membre_id' : membre.id})}}" class="btn-sm">Supprimer</a>
        <a href="{{ path('album_edit', {'album_id' : album.id, 'membre_id' : membre.id}) }}" class="btn-sm">Ajouter/Retirer un panini</a>
    </div>

    <style>
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }

        h1 {
            font-size: 24px;
            color: #333;
            margin-bottom: 20px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            margin-bottom: 10px;
        }

        a {
            text-decoration: none;
            color: #007bff;
        }

        .btn-sm {
            font-size: 15px;
            padding: 5px 10px;
            border-radius: 3px;
            background-color: #999;
            color: #000;
            border: 5px solid #999;
            cursor: pointer;
            text-decoration: none;
        }

        .btn-sm:hover {
            background-color: #777;
            border-color: #777;
            color: #000;
            text-decoration: none;
        }
    </style>

{% endblock %}
