{% extends 'base.html.twig' %}

{% block title %}Mon Equipe{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="container">
        <h1>Mon Equipe</h1>
        {% if equipe.published %}
            Publique
        {% else %}
            Privée
        {% endif %}
        <br>
        <form method="post" action="{{ path('partage', {'equipe_id': equipe.id, 'membre_id': membre.id}) }}">
            <button type="submit" class="btn btn-primary btn-sm">
                {% if equipe.published %}
                    Rendre Privée
                {% else %}
                    Rendre Publique
                {% endif %}
            </button>
        </form>
        <table class="panini-table">
            <tr>
                <th>Nom</th>
                <td>{{ equipe.nom }}</td>
            </tr>
            <tr>
                <th>Membre</th>
                <td>{{ equipe.createur.nom }}</td>
            </tr>
            <tr>
                <th>Cartes</th>
                <td>
                    <ul class="panini-list">
                        {% for carte in equipe.paninis %}
                            <li>
                                <a href="{{ path('panini_show', { 'id': carte.id }) }}">
                                    <img src="{{ vich_uploader_asset(carte, 'image') }}" alt="{{ carte.nom }}" class="panini-image">
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </table>

        <br>
        <a href="{{ path('membre_show') }}" class="btn-primary btn-sm">Retour à la liste</a>
        <a href="{{ path('equipe_delete', {'equipe_id' : equipe.id, 'membre_id' : membre.id}) }}" class="btn-sm">Supprimer</a>
        <a href="{{ path('equipe_edit', {'equipe_id' : equipe.id, 'membre_id' : membre.id}) }}" class="btn-sm">Ajouter/Retirer un panini</a>
    </div>

    <style>
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }

        h1 {
            font-size: 24px;
            color: #333;
            margin-bottom: 20px;
        }

        table.panini-table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        ul.panini-list {
            list-style-type: none;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        li {
            margin-bottom: 10px;
            flex: 0 0 30%; /* Ajustez la largeur des images en fonction de vos besoins */
        }

        a {
            text-decoration: none;
            color: #007bff;
        }

        .btn-sm {
            font-size: 15px;
            padding: 5px 10px;
            border-radius: 3px;
            background-color: #999;
            color: #000;
            border: 5px solid #999;
            cursor: pointer;
            text-decoration: none;
        }

        .btn-sm:hover {
            background-color: #777;
            border-color: #777;
            color: #000;
            text-decoration: none;
        }

        .panini-image {
            width: 100%;
            height: auto;
            border: 1px solid #ddd;
        }
    </style>

{% endblock %}
